<h1 class="page-header">New Vehicle</h1>

<%= render 'shared/errors', obj: @vehicle %>


<%= form_for @vehicle do |f| %>
    <div class="row">

        <div class="col-md">
            <div class="form-group">
                <%= f.label :year %>
                <%= f.text_field :year, class: "form-control" %>
            </div>
        </div>

        <div class="col-md">
            <div class="form-group">
                <%= f.label :make %>
                <%= f.text_field :make, class: "form-control" %>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <%= f.label :model %>
                <%= f.text_field :model, class: "form-control" %>
            </div>
        </div>

    </div>

    <%= f.submit class: "btn btn-primary" %>
<% end %>
